RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^page/(.*) /index.php?page=$1
RewriteRule ^page/(.*)/ /index.php?page=$1
ErrorDocument 404 /404.php